

/* .navbar{
    list-style: none;
    margin-top: 1rem;
    width: 30rem;
}

.navbar ul{
    list-style: none;
    margin-top: 0.5rem;
}

.navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.8rem ;
    background: #333;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5rem;
}

.navbar ul li a:hover{
    background: pink;
} */
